.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.skates-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.helmet-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.knee-pads-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.wrist-guards-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
